
.card-view-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Align the items at the top */
  max-width: 90%; /* Limit the maximum width if necessary */
  max-height: 90%;
}
.card-content {
  /* Container for the image and details */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image {
  flex-shrink: 0; /* Prevent the image from shrinking */
  margin-right: 20px; /* Add some space between the image and the details */
}


.card-info, .card-art {
  margin-bottom: 10px; /* Add some space between the info and art */
}

.card-art {
  align-self: stretch; /* Stretch the art container to take full width */
}

.btn-container {
  margin-bottom: 10px; /* Add some space above the button */
}

/* Add your responsive adjustments as necessary, for example: */
@media (max-width: 600px) {
  .card-view-container {
    flex-direction: column; /* Stack the image and details vertically on small screens */
  }

  .card-image {
    margin-bottom: 10px; /* Add space between the image and the details */
  }

  .card-details {
    width: 100%; /* Full width on small screens */
  }

  .card-art img {
    width: 100%; /* Full width for the art image */
  }
}

